.modal-dialog {
  max-width: 1600px !important;
  width: 70% !important;
  margin-top: 50px !important;
}

.modal-body {
  height: 100% !important;
  min-height: 700px !important;
}

.modal-body img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  background-position: center !important;
}

.modal-body .card-img {
  height: 600px;
}

@media screen and (min-width: 1441px) {
  .modal-body .card-img {
    height: 600px;
  }
}
